* {
  margin: 0;
  padding: 0;
}

/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );
  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: "Mulish", sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  list-style: none; /* Menghilangkan bullet points */
}

/* Check list link style */
nav ul li a {
  text-decoration: none; /* Menghilangkan garis bawah pada link */
  color: rgba(31, 21, 52, 1); /* Warna teks link */
  opacity: 0.7; /* Opasitas default */
  transition: opacity 0.3s ease; /* Efek transisi saat hover */
}

/* Make text bold on hover */
nav ul li a:hover {
  font-weight: bold; /* Menebalkan teks saat hover */
  opacity: 1; /* Mengubah opasitas saat hover */
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text h1 {
  font-family: "Mulish", sans-serif;
  font-size: 48px; /* Ukuran font h1 */
  line-height: 1.2; /* Jarak antar garis */
  margin-bottom: 16px; /* Jarak bawah h1 */
}

/* Check font styling */
.text h1 span {
  color: rgba(137, 197, 204, 1); /* Warna untuk span */
  font-weight: 700; /* Menebalkan teks span */
}

/* Check font styling */
.text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px; /* Ukuran font untuk paragraf */
  color: rgba(125, 121, 135, 1); /* Warna teks paragraf */
  line-height: 1.5; /* Jarak antar garis paragraf */
  margin-bottom: 48px; /* Jarak bawah paragraf */
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center; /* Vertikal center */
  gap: 8px; /* Jarak antara ikon dan teks */
  padding: 10px 20px; /* Padding dalam button */
  border-radius: 4px; /* Membuat sudut button melengkung */
  background-color: rgba(105, 185, 157, 1); /* Warna latar button */
  color: rgba(249, 249, 249, 1); /* Warna teks button */
  border: none; /* Menghilangkan border default */
  cursor: pointer; /* Menunjukkan bahwa ini adalah tombol */
}

/* Handle when user hover on the button */
.text button:hover {
  background-color: #4a9a7e; /* Warna saat hover */
}

footer {
  font-family: "Open Sans", sans-serif;
  text-align: center; /* Menengahkan teks footer */
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
